body{
  background-color: #F8EAD8;

}
hr{
  border-style: none;
  border-top: dotted;
  width: 5%;
  border-color: #EAC7C7;
border-width: 10px;
}
img{
  width: 1000px;
}
h1{
  color: #5DA7DB;
}
h3{
  color: #A0C3D2;

}
th{
  text-align: left;
}
