body{
  background-color: #C9F4AA;
  
}
hr{
  border-style: none;
  border-top: dotted;
  width: 5%;
  border-color: #5F8D4E;
border-width: 10px;
}
img{
  width: 110px;
}
h1{
  color: #1E5128;
}
h3{
  color: #1E5128;

}
th{
  text-align: left;
}
